@page "/fetchdata"

<PageTitle>Fetch Data</PageTitle>

@using DbTable
@using Example.Data

<h1>Fetch Data</h1>

<Table DbContextType="DbCon" DataType="Item" DataLoader="itemLoader" ItemsPerPage="5" Class="table">

    <Column DbContextType="DbCon" DataType="Item" Title="Id" Property="a => a.Id">

    </Column>

    <Column DbContextType="DbCon" DataType="Item" Title="Name" Property="a => a.Name">

    </Column>

    <Column DbContextType="DbCon" DataType="Item" Title="Created" Property="a => a.Created">

    </Column>

</Table>