@page "/fetchdata"

<PageTitle>Fetch Data</PageTitle>

@using DbTable
@using Example.Data

<h1>Fetch Data</h1>

<Table DataType="Item" DataLoader="itemLoader" ItemsPerPage="5" Class="table">

    <Column Title="Id" Property="a => a.Id">
    </Column>

    <Column Title="Name" Property="a => a.Name">
        <Template Context="a">
            @a.Name.ToLower()
        </Template>
    </Column>

    <Column Title="Created" Property="a => a.Created">

    </Column>

</Table>