@page "/fetchdata"

<PageTitle>Fetch Data</PageTitle>

@using DbTable
@using Example.Data

<h1>Fetch Data</h1>

<Table DataType="Item" DataLoader="itemLoader" ItemsPerPage="5" Class="table">

    <Column Title="Id" Property="a => a.Id" Sort="true" Filter="true">

    </Column>

    <Column Title="Name" Property="a => a.Name" Sort="true" Filter="true">
        <Template Context="a">
            @a.Name.ToLower()
        </Template>
    </Column>

    <Column Title="Created" Property="a => a.Created" Sort="true" Filter="true">

    </Column> 
    
    <Column Title="Race" Property="a => a.Race" Sort="true" Filter="true">

    </Column>   
    
    <Column Title="On" Property="a => a.On" Sort="true" Filter="true">

    </Column>

</Table>