@using Microsoft.EntityFrameworkCore


@typeparam DataType

<th @onclick="Clicked">
    <span>@Title</span>

    @switch (SortMode)
    {
        case SortMode.Ascending:
            <span class="oi oi-chevron-top"></span>
            break;

        case SortMode.Descending:
            <span class="oi oi-chevron-bottom"></span>
            break;
    }
</th>
